div{
    font-family: Arial, sans-serif;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg,black,rgb(255,255,255));
    color: white;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    font-size: 50px;
}