body{
    margin-bottom: 300px;
}
section{
    background-color: lightgreen;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
button{
    font-size: 20px;
    padding: 14px 25px;
}
img{
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
select{
    font-size: 25px;
    border-radius: 5px;
    outline: none;
}
span{
    font-size: 25px;
    font-weight: bold;
    color: blue;
}
input[type='text'] , input[type='password'] {
    font-size: 25px;
    border: none;
    height: 35px;
    border-radius: 5px;
    outline: none;
}
textarea{
    font-size: 20px;
    border-radius: 5px;
    outline: none;
}
input[type='checkbox']{
    width: 20px;
    height: 20px;
}